%p#notice=notice

%table#students
  %thead
    %tr
      %th Student UIN
      %th FistName 
      %th LastName
  %tbody
    - @students.each do |student|
      %tr
        %td= student.uin
        %td= student.first_name
        %td= student.last_name
