<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user.name %> <br>
    <p><%= @msg.to_s %></p><br><br>
    <p><%= Time.current.to_s %></p>
  </body>
</html>
