<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to CSE TA Assignment System, <%= @user.name %></h1>
    <p>
      You have successfully signed up to CSE TA Assignment System <br>
      Your login username is: <ul><%= @user.uin %></ul>.<br>
    </p>
    <p>
      To login to the site, the <strong>password</strong> is: <ul><%= @user.password %></ul>.
    </p>
    <p>Thanks and have a good day!</p>
  </body>
</html>