%p#notice=notice

%table#courses.table.table-striped
  %thead
    %tr
      %th Couse ID
      %th Course-Name 
      %th Lecturer
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.cid
        %td= course.name
        %td= course.lecturer
