%p#notice=notice

%table#courses.table.table-striped
  %thead
    %tr
      %th Couse ID
      %th Course-Name 
      %th Lecturer
      %th Description
      %th Edit
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.cid
        %td= course.name
        %td= course.lecturer
        %td= course.description
        %td=link_to 'edit', edit_course_path(course.id)
