-# file: app/views/courses/modify/upload.html.haml

.row
  .col-xs-12
    // We will not hard code 2015 fall here in furture
    %h1{class:"text-left"}="Import Course Table from Google Spreadsheet "
   
.row
  .col-md-10.col-md-offset-1
    %form.form-horizontal{:action => "/courses/modify/process_course_import", :method => "GET", :role => "form"}
      .form-group
        %a.btn.btn-large.btn-primary{:href => @auth_uri, :target => "_blank"} Get Google Code
      .form-group
        %label.control-label{:for => "google_code"} Paste the Google code by press the above button
        %input#code.form-control{:name => "code", :type => "text"}/
      .form-group
        %label.control-label{:for => "spreadsheet_url"} Paste the url of the Spreadsheet
        %input#url.form-control{:name => "url", :type => "text"}/
      .form-group
        %br
        %button.btn.btn-default{:type => "submit", :name => "app_id", :value => @application_pool_id} Import