// Bowei: This is the base scss file of this TA assignment project
// will include bootstrap, common uitilies such mixins and variables

@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */
/* navbar */
.navbar{
  border-radius: 0px;  /*override round border of default bootstrap*/
}

footer#footer{

}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;

  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.divide10{
  height: 10px;
  width: 100%;
}

.divide20{
  height: 20px;
  width: 100%;
}


.divide30{
  height: 30px;
  width: 100%;
}


.divide40{
  height: 40px;
  width: 100%;
}

.panel.remove-margin{
  margin-bottom: 0px;
  margin-top:0px;
  margin-right: 0px;
  margin-left: 0px;
}
/* header */

// #logo {
//   float: left;
//   margin-right: 10px;
//   font-size: 1.7em;
//   color: white;
//   text-transform: uppercase;
//   letter-spacing: -1px;
//   padding-top: 9px;
//   font-weight: bold;
//   &:hover {
//     color: white;
//     text-decoration: none;
//   }
// }

/* footer */

// footer {
//   margin-top: 45px;
//   padding-top: 5px;
//   border-top: 1px solid $gray-medium-light;
//   color: $gray-light;
//   a {
//     color: $gray;
//     &:hover {
//       color: $gray-darker;
//     }
//   }
//   small {
//     float: left;
//   }
//   ul {
//     float: right;
//     list-style: none;
//     li {
//       float: left;
//       margin-left: 15px;
//     }
//   }
// }



/* universal */