.fasids-editor-toolbar .btn.wysihtml5-command-active {
  background-color: #d0d0d0;
}
.fasids-editor-toolbar .btn-group .btn.btn-default {
  background-color: #dddddd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border: none;
  height: 100%;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.fasids-editor-toolbar .btn-group .btn.btn-default:hover {
  background-color: #b7b7b7;
}
.fasids-editor-toolbar .btn.default {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.fasids-editor-toolbar .btn.default:hover {
  background-color: #b7b7b7;
}
.fasids-editor-toolbar .grouper {
  display: inline-block;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
}
.fasids-editor-toolbar .grouper + .grouper {
  border-left: none;
}
#editor {
  width: 100%;
  border: 1px solid #d8e1e6;
  min-height: 200px;
}
body {
  /*modifying post page*/
  /*modifying one post, one can see this in specific question*/
  /*modifying the reply input editor*/
}
body .qa-slider {
  height: 300px;
  background-color: #f7f9fa;
}
body .qa-post-titles .qa-post-title-row {
  padding: 15px 0px;
}
body .qa-post-titles .even-numbered-post-row {
  background-color: #eef2f4;
}
body #filter-go-btn {
  margin-left: 10px;
}
body .row.final-buttons a.btn {
  margin-right: 10px;
}
body .post-row {
  margin-top: 15px;
  border: 1px solid #d8e1e6;
}
body .post-row .one-post-author-info-col {
  border-right: 1px solid #d8e1e6;
}
body .post-row .one-post-content-col {
  padding-bottom: 20px;
}
body .reply-editor-row .reply-buttons-row .btn + .btn {
  margin-left: 10px;
}
