-# file: app/views/student_applications/new.html.haml
.row
  .col-md-10.col-md-offset-1
    %h3.text-center{} There is no way to directly create new student application. New student application instances only can be created thru user instances