<footer id="footer" class="text-center">
  Copyright © 2015 TAMU Bazinga
  
  <ul class="f-menu list-inline">
      <li><%= link_to("Home", root_path)%></li>
      <li><%= link_to("Students", students_path)%></li>
      <li><%= link_to("Courses", courses_path)%></li>
      <li><a href="">Support</a></li>
      <li><a href="">Contact</a></li>
  </ul>
</footer>